/* Colors: Orange: rgb(230, 125, 6) ,Blueviolet: rgba(115, 17, 207, 0.871) , Gray: rgba(128, 128, 128, 0.805) , orangered, black, white */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./img/3182106.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 15%;
}

main{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}

footer div{
    margin: 30px 0 30px 0;
}

/* Class - pseudoclass ----------------------------------------------------------------------------------- */
.navbar {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 250px;
    height: 100px;
    margin: 30px 0 0 50px;
}

.link {
    background-color: rgba(115, 17, 207, 0.871);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 56%;
    margin: 0 100px 0 0;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.905);
}

.link a{
    font-size: 1.5rem;
    color: white;
}

a:link {
    text-decoration: none;
    text-shadow: 0 0 7px rgb(0, 0, 0);
}

a:hover {
    color: rgb(230, 125, 6);
}

.hero {
    background-color: rgba(128, 128, 128, 0.805);
    width: 80%;
    height: 420px;
    margin: 50px;
    display: flex;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px ;
}

.imghero img {
    width: 350px;
    margin: 20px;
    border-radius: 40px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;

} 
.btn1 {
    padding: 10px 50px;
    margin: 17px 30px 0 30px;
    border-radius: 10px;
    background-color: blueviolet;
}

.btn1 a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn1:hover{
    transition: 0.5s;
    background-color: orangered;
}

.btn1 a:hover{
    color: black;
}

.sinopsis{
    background-color: rgba(128, 128, 128, 0.925);
    width: 80%;
    margin: 30px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.sinh2 {
    font-size: 40px;
    margin: 50px 0 10px 0;
    color: orangered;
    -webkit-text-stroke: 1.5px #000000;
}

.sinp{
    margin: 30px 40px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.849);
    -webkit-text-stroke: 0px #000000;
}

.sinimg{
    width: 100%;
    margin: 10px 150px 40px 0;
    display: flex;
    align-content: center;
    justify-content: right;
}

.sinimg img{
    width: 100px;
}

.navfooter{
    background-color: rgba(128, 128, 128, 0.805);
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}
/* ID -----------------------------------------------------------------------------------*/

#bienvenido {
    color: orangered;
    font-family: "Times New Roman";
    font-size: 45px;
    margin: 10px 0;
    -webkit-text-stroke: 1.5px #000000;
}

#nge {
    color: orangered;
    font-family: "Times New Roman";
    font-size: 60px;
    margin: 20px 0 30px 0;
    -webkit-text-stroke: 1.5px #000000;
}

/* Responsive */

/* smaller Smartphones */
@media only screen and (max-width: 500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header{
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    
    .navbar img{
        margin: 10px auto;
        width: 360px;
    }

    .navbar{
        flex-direction: column;
    }

    .link {
        flex-direction: column !important;
        margin: 0 auto;
        width: 40px;
    }

    .link .item{
        display: none;
    }

    
    .hero{
        height: 460px;
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 30px;
    }

    .imghero{
        display: none;
    }

    .descripcion{
        margin: -10px auto !important;
    }

    .descripcion h1{
        font-size: 2rem !important; 
    }

    .descripcion h2{
        font-size: 3rem !important;
        margin: 20px 0 0px 0 !important;
    }

    .descbtn .btn1{
        padding: 10px;
    }

    .sinopsis{
        width: 90%;
        display: flex;
        text-align: justify;
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .sinh2{
    }

    .sinimg{
        width: 100%;
        margin: 0 0 20px 0;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

/* Tablets & larger smartphones */

@media only screen and (min-width: 501px) and (max-width: 768.99px) {
    header{
    width: 100%;
    height: 222px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navbar img{
        margin: 0;
        width: 500px;
        height: 175px;
    }

    .link{
        background-color: rgba(115, 17, 207, 0.871);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 50px;
        margin: 0 0 0 0;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.905);
    }

    .link .item{
        display: none;
        margin: 0 auto;
    }

    .hero{
        width: 90%;
        height: 400px;
        margin: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 5px solid black;
        border-radius: 20px;
    }
    .hero img{
        display: none;
    }
    #bienvenido{
        font-size: 2rem;
        margin: 0 10px 15px 0;
    }
    #nge{
        font-size: 3rem;
        margin: 0;
    }

}

/* Laptops, Larger tablet and small Desktops - Tablet */

@media only screen and (min-width: 769px) and (max-width: 1279px) {
    header{
        width: 100%;
        height: 126px;
        margin: auto;
    }

    .navbar{
        margin: auto;
    }
    .navbar img{
        margin: 0 0 0 20px;
    }

    .link{
        margin: 0 20px 0 0;
    }

    .link i{
        display: none;
    }

    .item a{
        font-size: 15px;
    }

    .hero{
        margin: 0;
    }

    .hero img{
        width: 300px;
    }

    .descripcion{
        
    }


    #bienvenido{
        font-size: 30px;
    }

    #nge{
        font-size: 40px;
    }

    .descbtn .btn1{
        margin: 5px;
        width: 250px;
    }

    .btn1 a{
        font-size: 15px;
    }

    .sinopsis{
        margin: 0;
    }

    .sinimg{
        justify-content: center;
        margin: 0 0 20px 0;
    }
}

/* Larger desktops and monitors */

@media only screen and (min-width: 1280px) {
    .link i{
        display: none;
    }
}